body{
    background-color: lightgray;
}
button{
    border: none;
    background-color: white;
    border-radius: 0.5em;
    cursor: pointer
}
button:hover{
    background-color: whitesmoke;
}
canvas{
    background-color: whitesmoke;
}
.container{
    display: flex; 
    justify-content: center;
}